* {
    main-bg:            #1B1B29E6;
    main-fg:            #CCCCFF;
    main-br:            #6A698A;
    main-ex:            #3A3A53;
    select-bg:          #B0AAF0;
    select-fg:          #2C2952;
}
